<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
  "
>
  <img
    [src]="imgUrl"
    alt="Random image from picsum.photos"
    width="1200"
    height="1200"
  />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ipsum
    perspiciatis quibusdam voluptatem, quisquam ullam dolore reprehenderit?
    Perferendis architecto possimus assumenda placeat, ipsum exercitationem
    harum quod consequatur, enim quis sit quaerat velit nemo delectus quam illum
    nostrum. Aliquid placeat quo ea iure, magnam repudiandae adipisci. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Labore ipsum perspiciatis
    quibusdam voluptatem, quisquam ullam dolore reprehenderit? Perferendis
    architecto possimus assumenda placeat, ipsum exercitationem harum quod
    consequatur, enim quis sit quaerat velit nemo delectus quam illum nostrum.
    Aliquid placeat quo ea iure, magnam repudiandae adipisci. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Labore ipsum perspiciatis quibusdam
    voluptatem, quisquam ullam dolore reprehenderit? Perferendis architecto
    possimus assumenda placeat, ipsum exercitationem harum quod consequatur,
    enim quis sit quaerat velit nemo delectus quam illum nostrum. Aliquid
    placeat quo ea iure, magnam repudiandae adipisci. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Labore ipsum perspiciatis quibusdam
    voluptatem, quisquam ullam dolore reprehenderit? Perferendis architecto
    possimus assumenda placeat, ipsum exercitationem harum quod consequatur,
    enim quis sit quaerat velit nemo delectus quam illum nostrum. Aliquid
    placeat quo ea iure, magnam repudiandae adipisci.
  </p>
</div>
